.burger {
  z-index: 100;
  display: none;
  &__menu-icon {
    transform: scale(1.5);
  }
  @media screen and (max-width: 1280px) {
    display: block;
  }
}

.burger__menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;

  .butger__item {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }
  div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
  }
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

    &:first-of-type {
      top: 0;
    }
    &:last-of-type {
      bottom: 0;
    }
  }
  &.active,
  .butger__item:checked + div {
    span {
      &:first-of-type {
        transform: rotate(45deg);
        top: 5px;
      }
      &:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
      }
    }
  }

  &.active:hover span:first-of-type,
  &.active:hover span:last-of-type,
  &:hover .butger__item:checked + div span:first-of-type,
  &:hover .butger__item:checked + div span:last-of-type {
    width: 22px;
  }

  &:hover {
    // no need hover effect on mobile.
    @media (min-width: 1024px) {
      span:first-of-type {
        width: 26px;
      }

      span:last-of-type {
        width: 12px;
      }
    }
  }
}

.burger__menu {
  position: fixed;
  right: 100%;
  background: $dark;
  width: 100%;
  height: 100%;
  transition: right 1s;

  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    li {
      a {
        font-family: "Josefin Sans";
        font-size: 32px;
        margin-top: 10px;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.burger__menu--open {
  right: 0;
}
