/* josefin-sans-regular - latin */
@font-face {
   font-family: "Josefin Sans";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/josefin-sans-v25-latin-regular.eot"); /* IE9 Compat Modes */
   src: local(""), url("../fonts/josefin-sans-v25-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/josefin-sans-v25-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/josefin-sans-v25-latin-regular.woff") format("woff"), /* Modern Browsers */ url("../fonts/josefin-sans-v25-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/josefin-sans-v25-latin-regular.svg#JosefinSans") format("svg"); /* Legacy iOS */
}
/* cormorant-infant-regular - latin */
@font-face {
   font-family: "Cormorant Infant";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/cormorant-infant-v17-latin-regular.eot"); /* IE9 Compat Modes */
   src: local(""), url("../fonts/cormorant-infant-v17-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/cormorant-infant-v17-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/cormorant-infant-v17-latin-regular.woff") format("woff"), /* Modern Browsers */ url("../fonts/cormorant-infant-v17-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/cormorant-infant-v17-latin-regular.svg#CormorantInfant") format("svg"); /* Legacy iOS */
}
/* cormorant-infant-700 - latin */
@font-face {
   font-family: "Cormorant Infant";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/cormorant-infant-v17-latin-700.eot"); /* IE9 Compat Modes */
   src: local(""), url("../fonts/cormorant-infant-v17-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/cormorant-infant-v17-latin-700.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/cormorant-infant-v17-latin-700.woff") format("woff"), /* Modern Browsers */ url("../fonts/cormorant-infant-v17-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/cormorant-infant-v17-latin-700.svg#CormorantInfant") format("svg"); /* Legacy iOS */
}
